{% extends "partials/dashboard-base.html" %}
{% load static %}
{% block content %}
    <!-- Dashboard Section start -->
    <section class="dashboard-section body-collapse pay step step-2">
        <div class="overlay pt-120">
            <div class="container-fruid">
                <div class="main-content">
                    <div class="head-area d-flex align-items-center justify-content-between">
                        <h4>Make a Payment</h4>
                    </div>
                    <div class="choose-recipient">
                        <div class="step-area">
                            <h5>Set Amount of transfer</h5>
                        </div>
                    </div>
                    <form action="{% url 'core:amount-transfer-process' account.account_number %}" method="POST">
                        {% csrf_token %}
                        <div class="send-banance">
                            <span class="mdr">You Send</span>
                            <div class="input-area">
                                <input class="xxlr" placeholder="{{request.user.account.account_balance}}"  onkeyup="CalculateBalance()"   type="number" name="amount-send" id="amount-send">
                                <select>
                                    <option>&#8377;</option>
                                </select>
                            </div>
                            <p id="new_balance"></p>
                            <p>Available Balance<b>{{request.user.account.account_balance}}</b></p>
                            <p class="text-danger" id="error-div"></p>
                        </div>
                        <!--Js-->

                        <div class="send-banance pt-0 mt-0">
                            <span class="mdr">Payment Description</span>
                            <div class="input-area">
                                <input class="xxlr" placeholder=""  onkeyup="CalculateBalance()"   type="text" name="description" id="amount-send">
                                
                            </div>
                            
                        </div>
                        <script>
                           function CalculateBalance() {
                            let available_balance = "{{request.user.account.account_balance}}"
                            let new_balance = document.getElementById("new_balance")
                            let sendAmount_input = document.getElementById("amount-send")
                            let sendAmount = sendAmount_input.value
                            let errorDiv = document.getElementById("error-div")
                            let total_to_pay = document.getElementById("total-to-pay")
                            let errors = []
                            new_bal = available_balance - sendAmount
                            console.log(new_bal);
                            new_balance.innerHTML = `New Balance &#8377;${new_bal.toString().replace(/\B(?=(\d{3})+(?!\d))/g,",")}`;
                            total_to_pay.innerHTML = `&#8377;${sendAmount.toString().replace(/\B(?=(\d{3})+(?!\d))/g,",")}`;

                            if (new_bal<0){
                                new_balance.style.color='red'
                                alert('You can only send'+ available_balance.toString().replace(/\B(?=(\d{3})+(?!\d))/g,","))
                            }else{
                                new_balance.style.color='#27276e'
                            }
                        }
                        
                        </script>
                        <ul class="total-fees">
                            <li>Total Fees</li>
                            <li>Free</li>
                        </ul>
                        <ul class="total-fees pay">
                            <li>
                                <h5>Total To Pay</h5>
                            </li>
                            <li>
                                <h5 id="total-to-pay">&#8377; 0.00</h5>
                            </li>
                        </ul>
                        <div class="footer-area mt-40">
                            <a href="{% url 'core:search-account' %}">Previous Step</a>
                            <button type="submit" style="padding: 10px 30px; border-radius: 10px; background: blue; color:#fff" class="active">Next</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Dashboard Section end -->
    {% endblock content %}
    